# create with: kubectl create secret docker-registry registry-secret --docker-server=... --docker-username='...' --docker-password='...' --dry-run=client -o yaml
apiVersion: v1
data:
  .dockerconfigjson: ...
kind: Secret
metadata:
  name: registry-secret
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-dashboard-secrets
  labels:
    grafana_datasource: "1"
type: Opaque
stringData:
  region_deployment: ...
  compartment_id: ...
